@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Monserat', sans-serif;
    background-color: #1b2838;
}

.main::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(5,18,36,1) 100%);
    top: 138px;
}

.main {
    color: white;
}

.main h1{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-align: center;
    text-shadow: 1px 1px 4px #1b2838, 0 0 1em darkgreen, 0 0 0.2em maroon;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    background-color: #051224;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.wrapper a {
    text-decoration: none;
}

.logo {
    display: flex;
    padding-left: 25px;
    font-size: 2rem;
    color: white;
}

.navbar {
    display: flex;
    background-color: #171d25;
}

ul li {
    display: inline-block;
}

.navbar a {
    padding: 5px 10px;
    color: white;
    font-size: 1.75rem;
    text-decoration: none;
}

.user-nav, .store-nav{
    width: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.user p{
    padding: 10px;
    font-size: 1.2rem;
    color: white;
}

main {
    background: url(https://images.unsplash.com/photo-1689443111130-6e9c7dfd8f9e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 40, 56, 0.9);
}

.container {
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    margin-bottom: 2rem;
    color: white;
}

.input-group {
    height: 4.5rem;
}

label {
    margin-top: 0.5rem;
    display: block;
    color: #1a9fff;
}

.text-danger {
    color: #dc3545;
    text-align: center;
}

input {
    display: block;
    width: 26rem;
    height: 2rem;
    background-color: #32353c;
    color: white;
    border: none;
    border-radius: 2px;
}

.btn-submit {
    display: block;
    margin-top: 1rem;
    border-radius: 2px;
    border: none;
    padding: 3px 50px;
    cursor: pointer;
    color: #c3e1f8;
    background: #2665d3;
    text-shadow: 1px 1px 0 rgba( 0, 0, 0, 0.3 );
}

.create-account {
    margin: 8px;
    color: #fff;
}

.create-account a{
    color:wheat;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-card {
    margin-top: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16202d;
    color: #c3e1f8;
    border-radius: 8px;
    width: 30%;
}

.profile-card h1 {
    margin-bottom: 20px;
    text-align: center;
}

.profile-card img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-card p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-card a {
    padding: 5px 20px;
    color: #c3e1f8;
    background: #2665d3;
    font-size: 1.75rem;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

.social-list {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.profile-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-logout {
    color: white;
    font-size: 1.75rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

#content-wrapper {
    display: flex;
}

.sidebar {
    padding: 2rem;
    width: 20%;
    background-color: #395688;
}

.sidebar a{
    margin-bottom: 1rem;
    display: block;
    text-decoration: none;
    color: #fff;
}

a.active{
    color: #1a9fff;
    text-decoration: underline;
}

.dashboard {
    width: 80%;
    padding: 3rem 4rem;
    background-color: white;
}

.dashboard-header {
    padding: 1.25rem;
}

table {
    width: 100%;
}

table td {
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.btn {
    border: none; /* Remove borders */
    border-radius: 5px;
    color: white; /* Add a text color */
    padding: 6px 16px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
}

.continue {background-color: #3d4450}
.continue:hover{background: #2f3440}

.success {background-color: #5cb85c}
.success:hover{background: #449d44}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.games {
    position: relative;
    display: flex;
    padding: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.game-card {
    width: 400px;
    color: white;
    background-color: #185375;
    box-shadow: 0 0 5px #000000;
}

.game-content {
    padding: 1rem;
    background-image: linear-gradient(45deg, #24799f, #185073);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game-content h1 {
    text-align: center;
}

.game-content h5 {
    background-color: #344654;
    color: #beee11;
    padding: 0.5rem;
    font-size: 1rem;
}

.description {
    height: 12rem;
    margin-bottom: 0.75rem;
}

.price-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/*Game modal*/

.hidden {
    opacity: 0;
    pointer-events: none;
}

.game-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    text-align: center;
    background: linear-gradient(90deg, rgba(51,56,64,1) 0%, rgba(37,40,46,1) 100%);
}

.modal-toolbar {
    display: flex;
    flex-direction: row-reverse;
}

.modal-toolbar #close-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: white;
}

.dialog-content {
    color: white;
    font-size: 22px;
    text-align: initial;
    margin-bottom: 25px;
}

.modal-game-content {
    display: flex;
    background-color: #1c1e23;
    padding: 15px;
    color: white;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.modal-content img {
    width: 200px;
}

p#modal-price {
    align-self: end;
}

.modal-buttons {
    display: flex;
    gap: 15px;
}

.modal-buttons button {
    flex-grow: 1;
    width: 100px;
    height: 40px;
    color: white;
    background: #3d4450;
    border: none;
    cursor: pointer;
}

.modal-buttons a {
    flex-grow: 1;
    background: linear-gradient(to right, #00ccff, #3366ff);
    color: white;
    text-decoration: none;
    line-height: 40px;
}

/*Shopping cart*/

.shopping-cart {
    position: relative;
    width: 70rem;
    margin: 1rem auto;
}

.shopping-cart-header {
    font-size: 2rem;
    color: white;
}

.shopping-cart-container {
    display: flex;
    gap: 2rem;
}

.product {
    width: 800px;
    margin-bottom: 25px;
    background: #233041;
}

.product-content {
    display: flex;
    padding: 15px;
    color: white;
    gap: 10px;
    justify-content: space-between;
}

.product-content img {
    width: 200px;
}

.remove-item {
    text-align: end;
}

.remove-item button {
    padding: 8px;
    background: transparent;
    color: gray;
    text-decoration: underline;
    border: none;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.shopping-card-buttons {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.remove-all {
    background: transparent;
    border: none;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

.checkout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #192430;
    color: white;
    padding: 20px;
}

a.btn-link:nth-child(3) {
    background: linear-gradient(to right, #00ccff, #3366ff);
    color: white;
}