<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<div th:replace="~{fragments/commons::header(activeLink=${'profile'})}"></div>
<div class="container">
    <h1>Change Password</h1>
    <button class="btn btn-back" onclick="window.history.back()"><i class="fa-solid fa-arrow-left-long"></i> Back to profile</button>
    <div th:if="${message}" th:text="${message}" class="text-info"></div>
    <form class="form-vertical" th:action="@{/user/change-password}" th:method="POST" th:object="${changePasswordBindingModel}">
        <div class="input-group">
            <label for="currentPassword">Current password</label>
            <input id="currentPassword"
                   type="password"
                   th:field="*{currentPassword}"
            />
            <small th:errors="*{currentPassword}" class="text-danger">{errors.oldPassword}</small>
        </div>
        <div class="input-group">
            <label for="newPassword">New password</label>
            <input id="newPassword"
                   type="password"
                   th:field="*{newPassword}"
            />
            <small th:errors="*{newPassword}" class="text-danger">{errors.newPassword}</small>
        </div>
        <div class="input-group">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword"
                   type="password"
                   th:field="*{confirmPassword}"
            />
            <small th:errors="*{confirmPassword}" class="text-danger">{errors.confirmPassword}</small>
        </div>
        <div>
            <button type="submit" class="btn-submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>