<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'edit-game'})}"></header>
<div class="content-wrapper">
    <div class="sidebar">
        <h2 class="sidebar-heading" th:text="#{settings}">Settings</h2>
        <a th:href="@{/admin/users}" th:text="#{userManagement}">User management</a>
        <a th:href="@{/admin/games}" class="active" th:text="#{gameManagement}">Game management</a>
        <div id="dropdown-container" class="dropdown-container">
            <a th:href="@{/admin/games}" class="active" th:text="#{games}">Games</a>
            <a th:href="@{/admin/genres}" th:text="#{genres}">Genres</a>
        </div>
        <a th:href="@{/admin/orders}" th:text="#{orders}">Orders</a>
    </div>
    <div class="dashboard">
        <div class="dashboard-header">
            <h1 class="dashboard-title" th:text="#{editGame}">Edit Game</h1>
            <a th:href="@{/admin/games}"><i class="fa-solid fa-arrow-left-long"></i> <span th:text="#{back}"></span></a>
        </div>
        <form class="admin-panel-form" th:action="@{/admin/game/edit}" th:method="POST" th:object="${bindingModel}">
            <input type="hidden" th:field="*{id}" />
            <div class="input-group">
                <label for="title" th:text="#{title}">Title</label>
                <input id="title" type="text" th:field="*{title}">
                <small th:errors="*{title}" class="text-danger">Title error message</small>
            </div>
            <div class="input-group">
                <label for="description" th:text="#{description}">Description</label>
                <textarea id="description" th:field="*{description}" rows="4" cols="40"></textarea>
                <small th:errors="*{description}" class="text-danger">Description error message</small>
            </div>
            <div class="input-group">
                <label for="image-thumbnail" th:text="#{imageUrl}">Image thumbnail</label>
                <input id="image-thumbnail" type="text" th:field="*{imageUrl}">
                <small th:errors="*{imageUrl}" class="text-danger">Image thumbnail error message</small>
            </div>
            <div class="input-group">
                <label for="video-url" th:text="#{videoUrl}">Video url (optional)</label>
                <input id="video-url" type="text" th:field="*{videoUrl}">

            </div>
            <div class="input-group">
                <label for="release-date" th:text="#{releaseDate}">Release Date</label>
                <input id="release-date" type="date" th:value="${bindingModel.releaseDate}" name="releaseDate">
                <small th:errors="*{releaseDate}" class="text-danger">Release date error message</small>
            </div>
            <div class="input-group">
                <label for="publisher" th:text="#{publisher}">Publisher</label>
                <input id="publisher" type="text" th:field="*{publisher}">
                <small th:errors="*{publisher}" class="text-danger">Publisher error message</small>
            </div>
            <div class="input-group">
                <label for="genre" th:text="#{genre}">Genre</label>
                <select id="genre" name="genre">
                    <option th:each="genre : ${genres}"
                            th:text="${genre.name}"
                            th:value="${genre.name}"
                            th:selected="${bindingModel.genre == genre.name}">
                    </option>
                </select>
                <small th:errors="*{genre}" class="text-danger">Genre error message</small>
            </div>
            <div class="input-group">
                <label for="price" th:text="#{price}">Price</label>
                <input id="price" type="number" step=".01" th:field="*{price}">
                <small th:errors="*{price}" class="text-danger">Price error message</small>
            </div>

            <button type="submit" class="btn-submit" th:text="#{update}">Update</button>
        </form>
    </div>
</div>
</body>
</html>