<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'login'})}"></header>
<div class="container">
    <form class="form" name="forgotten-password" th:method="POST" th:action="@{/auth/forgotten-password}" th:object="${forgotPasswordDTO}">
        <h2>Забравена парола</h2>
        <p>Моля въведи e-mail адреса, с който си регистриран в сайта и ще получиш линк за генериране на нова
            парола. </p>
        <div class="input-group">
            <label for="email">E-mail</label>
            <input id="email" type="email" th:field="*{email}"/>
            <small class="text-danger" th:errors="*{email}">{errorMessage}</small>
        </div>
        <button type="submit" class="btn-submit" style="align-self: flex-start">Send</button>
    </form>
    <div class="text-info" th:text="${message}">{infoMessage}</div>
</div>
</body>
</html>