<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'library'})}"></header>
<main>
    <section class="games">
        <div class="game-card" th:each="game: ${ownedGames}">
            <div class="game-image">
                <img th:src="${game.imageUrl}" alt="Game Thumbnail">
            </div>
            <div class="game-content">
                <h1 th:text="${game.title}"></h1>

                <div class="price-box">
                    <button class="btn success">Play game</button>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>