<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'admin'})}"></header>
<div id="content-wrapper">
    <div class="sidebar">
        <a th:href="@{/admin/users}" class="active">User management</a>
        <a th:href="@{/admin/games}">Game management</a>
        <a th:href="@{/admin/orders}">Orders</a>
    </div>
    <div class="dashboard">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Role</th>
                <th scope="col">Setting up roles</th>
                <th scope="col">Change Status</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.firstName}">Hristina</td>
                <td th:text="${user.lastName}">Racheva</td>
                <td th:text="${user.email}">hristina@test.com</td>
                <td th:text="${user.role}">User</td>

                <td th:unless="${user.id == 1 or user.role.toString() == 'ADMIN'}">
                    <form th:method="POST" th:action="@{/admin/user/promote/{id}(id=${user.id})}">
                        <button type="submit" class="btn warning">Promote</button>
                    </form>
                </td>
                <td th:if="${user.role.toString() == 'ADMIN' and user.id != 1}">
                    <form th:method="POST" th:action="@{/admin/user/demote/{id}(id=${user.id})}">
                        <button type="submit" class="btn warning">Demote</button>
                    </form>
                </td>
                <td th:if="${user.id != 1 and user.enabled}">
                    <form th:method="POST" th:action="@{/admin/user/change/{id}(id=${user.id})}">
                        <button type="submit" class="btn danger">Disable</button>
                    </form>
                </td>
                <td th:if="${user.id != 1 and !user.enabled}">
                    <form th:method="POST" th:action="@{/admin/user/change/{id}(id=${user.id})}">
                        <button type="submit" class="btn success">Activate</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>