<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'admin'})}"></header>
<div class="content-wrapper">
    <div class="sidebar">
        <h2 class="sidebar-heading" th:text="#{settings}">Settings</h2>
        <a th:href="@{/admin/users}" th:text="#{userManagement}">User management</a>
        <a th:href="@{/admin/games}" class="active" th:text="#{gameManagement}">Game management</a>
        <div id="dropdown-container" class="dropdown-container">
            <a th:href="@{/admin/games}" th:text="#{games}">Games</a>
            <a th:href="@{/admin/genres}" class="active" th:text="#{genres}">Genres</a>
        </div>
        <a th:href="@{/admin/orders}" th:text="#{orders}">Orders</a>
    </div>
    <div class="dashboard">
        <div class="dashboard-header">
            <a th:href="@{/admin/add-genre}" class="btn-link success" th:text="#{addGenre}">Add Genre</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{id}">Id</th>
                <th scope="col" th:text="#{name}">Name</th>
                <th scope="col" th:text="#{description}">Description</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="genre: ${genres}">
                <td th:text="${genre.id}">1</td>
                <td th:text="${genre.name}">Name</td>
                <td th:text="${genre.description}" style="text-align: justify">Description</td>

                <td>
                    <form th:method="GET" th:action="@{/admin/genre/edit/{id}(id=${genre.id})}">
                        <button type="submit" class="btn warning" th:text="#{edit}">Edit</button>
                    </form>
                </td>
                <td>
                    <form th:method="POST" th:action="@{/admin/genre/delete/{id}(id=${genre.id})}">
                        <button type="submit" class="btn danger" th:text="#{delete}">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>