<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'admin'})}"></header>

<div class="order-container">
    <h1 th:text="#{orderDetails}">Order Details</h1>

    <div class="order-info">
        <p><strong th:text="#{orderNumber} + ' ' + ${order.id}">Order ID:</strong></p>
        <p><strong th:text="#{customer} + ': ' + ${order.customer.firstName} + ' ' + ${order.customer.lastName}">Customer:</strong></p>
        <p><strong th:text="#{orderDate} + ': ' + ${order.orderDate}">Order Date:</strong></p>
        <p><strong th:text="#{status} + ': ' + ${order.status}"></strong></p>
    </div>

    <div class="order-items">
        <h3 th:text="#{purchasedGames}">Purchased Games</h3>
        <table>
            <tr>
                <th th:text="#{title}">Game Name</th>
                <th th:text="#{price}">Price</th>
            </tr>

            <tr th:each="game: ${order.boughtGames}">
                <td th:text="${game.title}">{{ game.name }}</td>
                <td th:text="${game.price} + ' ' + #{lv}">${{ game.price }}</td>
            </tr>

        </table>
    </div>

    <div class="total-price">
        <p th:text="#{totalPrice(${order.totalPrice}, #{lv})}">Total Price: ${{ order.totalPrice }}</p>
    </div>

    <div class="actions">
        <button class="btn continue" onclick="window.history.back()" th:text="#{backToOrders}"></button>
    </div>
</div>

</body>
</html>