<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'admin'})}"></header>
<div class="content-wrapper">
    <div class="sidebar">
        <h2 class="sidebar-heading" th:text="#{settings}">Settings</h2>
        <a th:href="@{/admin/users}" th:text="#{userManagement}">User management</a>
        <a th:href="@{/admin/games}" th:text="#{gameManagement}">Game management</a>
        <a th:href="@{/admin/orders}" class="active" th:text="#{orders}">Orders</a>
    </div>
    <div class="dashboard">

        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{orderNumber}">Order N</th>
                <th scope="col" th:text="#{orderDate}">Order Date</th>
                <th scope="col" th:text="#{status}">Status</th>
                <th scope="col" th:text="#{total}">Total</th>
                <th scope="col" th:text="#{customer}">Customer</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="order : ${orders}">
                <td th:text="${order.id}">1</td>
                <td th:text="${order.orderDate}">Order date</td>
                <td th:text="${order.status}">Status</td>
                <td th:text="${order.totalPrice} + ' лв.'">Total Sum</td>
                <td th:text="${order.customer.firstName} + ' ' + ${order.customer.lastName}">Customer</td>
                <td>
                    <a th:href="@{/admin/order/{id}(id=${order.id})}" class="btn-link continue" th:text="#{details}">Order details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>