<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<div th:replace="~{fragments/commons::header(activeLink=${'profile'})}"></div>
<main>
    <section class="profile">
        <div class="profile-card">
            <h1>Account Details</h1>
            <div class="profile-card-img" style="position: relative">
                <img id="profileImage" th:src="${userProfileViewModel.profileImageUrl ?:'/images/profile.jpg'}" alt="Avatar" width="100">
                <span title="Upload image" class="image-upload"
                      onclick="document.getElementById('fileInput').click()">
                    <i class="fa-solid fa-file-arrow-up"></i>
                </span>
                <input id="fileInput"
                       type="file"
                       style="display: none"
                       accept="image/*"
                />
            </div>
            <div class="profile-card-wrapper">
                <h3 th:text="${userProfileViewModel.role}">Pro</h3>
                <div class="text-box">
                    <p>Username</p>
                    <p th:text="${userProfileViewModel.username}"></p>
                </div>
                <div class="text-box">
                    <p>Full name</p>
                    <p th:text="${userProfileViewModel.firstName} + ' ' + ${userProfileViewModel.lastName}">UI/UX
                        Designer</p>
                </div>
                <div class="text-box">
                    <p>E-mail</p>
                    <p th:text="${userProfileViewModel.email}">UI/UX Designer</p>
                </div>
                <div class="text-box">
                    <p>Age</p>
                    <p th:text="${userProfileViewModel.age}">33</p>
                </div>
                <div class="profile-button-group">
                    <a href="/user/edit-profile">Edit Profile</a>
                    <a href="/user/change-password">Change Password</a>
                </div>
                <div class="social-list">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-google"></i>
                </div>
                <div style="align-self: center">
                    <a href="/">Back</a>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    document.getElementById('fileInput').addEventListener('change', uploadImage);

    async function uploadImage(event) {
        const file = event.target.files[0];
        const formData = new FormData();
        formData.append('file', file);

        if (file) {
            try {
                const respond = await fetch('/user/profile/upload-image', {
                    method: 'POST',
                    body: formData
                });

                if (!respond.ok) {
                    console.error(`HTTP error! status: ${respond.status}`);
                }

                return await respond.json();
            } catch (error) {
                console.error('Error uploading image:', error);
                alert('Failed to upload image. Please try again.');
            }
        }
    }
</script>
</body>
</html>