<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'login'})}"></header>
<div class="container">
    <h1>Създаване на нова парола</h1>
    <div class="text-info" th:text="${message}">{message}</div>
    <form name="reset-password" th:action="@{/auth/reset-password}" th:method="POST" th:object="${resetPasswordDTO}">
        <div class="input-group">
            <input type="hidden" name="token" th:value="${token}">

            <label for="newPassword">New password</label>
            <input id="newPassword"
                   type="password"
                   th:field="*{newPassword}"
                   required
            />
            <small class="text-danger" th:errors="*{newPassword}">{errors.newPassword}</small>
        </div>
        <div class="input-group">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword"
                   type="password"
                   value={formData.confirmPassword}
                   th:field="*{confirmPassword}"
            />
            <small class="text-danger" th:errors="*{confirmPassword}">{errors.confirmPassword}</small>
        </div>
        <button type="submit" class="btn-submit">
            Submit
        </button>
    </form>
    <div class="text-danger" th:text="${errorMessage}">{errors.message}</div>
</div>
</body>
</html>