<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'cart'})}"></header>
<main>
    <section class="shopping-cart">
        <div class="shopping-cart-header" th:text="#{yourShoppingCart}">Your shopping-cart</div>
        <div class="shopping-cart-container">
            <th:block th:unless="${shoppingCart.totalItems == 0}">
            <div class="shopping-cart-products-section">
                <div th:each="game: ${shoppingCart.games}" class="product">
                    <div class="product-content">
                        <img th:src="${game.imageUrl}" alt="Game Image">
                        <h1 th:text="${game.title}"></h1>
                        <p th:text="${game.price} + ' ' + #{lv}"></p>
                    </div>
                    <form th:action="@{/user/shopping-cart/remove/{id}(id=${game.id})}" th:method="POST" class="remove-item">
                        <button type="submit" th:text="#{remove}">Remove</button>
                    </form>
                </div>
                <div class="shopping-card-buttons">
                    <a href="/store" class="btn-link continue" th:text="#{continueShopping}">Continue Shopping</a>
                    <form th:method="POST" th:action="@{/user/shopping-cart/remove-all}">
                        <button type="submit" class="remove-all" th:text="#{removeAllProducts}">Remove All Products</button>
                    </form>
                </div>
            </div>
            <div class="payment-section">
                <div class="checkout">
                    <p id="total-price" th:text="#{totalPrice(${shoppingCart.totalPrice}, #{lv})}">Total price: 264.73</p>
                    <p th:text="#{vat}">Vat is included</p>
                    <a href="/checkout" class="btn-link" th:text="#{continueToPayment}">Continue to payment</a>
                </div>
            </div>
            </th:block>
            <th:block th:if="${shoppingCart.totalItems == 0}">
                <div class="shopping-cart-empty" th:text="#{shoppingCartEmpty}">
                    Your shopping cart is empty!
                </div>
            </th:block>
        </div>
    </section>
</main>
</body>
</html>