<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'cart'})}"></header>
<main>
    <section class="shopping-cart">
        <div class="shopping-cart-header">Your shopping-cart</div>
        <div class="shopping-cart-container">
            <div class="shopping-cart-products-section">
                <div th:each="game: ${shoppingCart.games}" class="product">
                    <div class="product-content">
                        <img th:src="${game.imageUrl}" alt="Game Image">
                        <h1 th:text="${game.title}"></h1>
                        <p th:text="${game.price}"></p>
                    </div>
                    <form th:action="@{/shopping-cart/remove/{id}(id=${game.id})}" th:method="POST" class="remove-item">
                        <button type="submit">Remove</button>
                    </form>
                </div>
                <div class="shopping-card-buttons">
                    <a href="/store" class="btn-link continue">Continue Shopping</a>
                    <form th:method="POST" th:action="@{/shopping-cart/remove-all}">
                        <button type="submit" class="remove-all">Remove All Products</button>
                    </form>
                </div>
            </div>
            <div class="checkout-section">
                <div class="checkout">
                    <p id="total-price" th:text="'Total price: ' + ${totalPrice}">Total price: 264.73</p>
                    <p>Vat is included</p>
                    <a href="checkout" class="btn-link">Continue to payment</a>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>