<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'store'})}"></header>
<section class="games">
    <div class="game-card" th:each="game: ${games}">
        <div class="game-image">
            <img th:src="${game.imageUrl}">
        </div>
        <div class="game-content">
            <h1 th:text="${game.title}"></h1>
            <p th:text="${game.description}"></p>
            <p th:text="${game.publisher}"></p>
            <h5 th:text="${game.price}"></h5>
            <p th:text="${game.releaseDate}"></p>
            <p th:text="${game.genre.name}"></p>
        </div>
    </div>
</section>
</body>
</html>