<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::header(activeLink=${'store'})}"></header>
<section class="games">
    <div class="game-card" th:each="game: ${games}">
        <div class="game-image">
            <img th:src="${game.imageUrl}">
        </div>
        <div class="game-content">
            <h1 th:text="${game.title}"></h1>
            <p th:text="${game.description}" class="description"></p>
            <p th:text="'Genre: ' + ${game.genre}"></p>
            <p th:text="'Publisher: ' + ${game.publisher}"></p>
            <p th:text="'Release date: ' + ${game.releaseDate}"></p>
            <div class="price-box">
                <h5 th:text="${game.price} + ' лв.'"></h5>
                <a th:href="@{/game/order}" class="btn-link success">Add to cart</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>