<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Token Expired</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
<div class="wrapper">
    <div class="token-expired">
        <h2 th:text="${message}">Token Expired</h2>

        <p>Your token has expired. Click the button below to receive a new confirmation email.</p>
        <form th:action="@{/auth/resend-confirmation}" th:method="post">
            <input type="hidden" name="token" th:value="${token}"/>
            <button type="submit" class="btn-submit">Resend Confirmation Email</button>
        </form>
    </div>
</div>
</body>
</html>