<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
    <header th:replace="~{fragments/commons::header(activeLink=${'profile'})}"></header>
    <div class="account">
        <div class="account-header">
            <h2 th:text="#{purchaseHistory(${@userHelperService.user.username})}">hristo's Purchase History</h2>
        </div>
        <div class="account-content">
            <table class="purchase_history_table">
                <thead>
                    <tr>
                        <th rowspan="2" class="wht_date">Date</th>
                        <th rowspan="2" class="wht_items">Items</th>
                        <th rowspan="2" class="wht_total">Total</th>
                        <th rowspan="2" class="wht_details">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.orderDate}">02.01.2025 13:58</td>
                        <td>
                            <div th:each="item: ${order.boughtGames}" th:text="${item.title}">Farming Simulator 25</div>
                        </td>
                        <td th:text="${order.totalPrice} + ' ' + #{lv}">$250</td>
                        <td>
                            <a class="btn-link continue"
                               th:href="@{/user/order/{id}(id=${order.id})}"
                               th:text="#{viewDetails}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>